@import "../../scss/colors";

#Navbar-big {
    // Parent selector: Here exclusive scss for current component

    padding: 3% 0;
    position: fixed;
    width: 100%;
    // background-color: $frame-color;
    transition: ease-in 0.5s;
    
    #logo-text {
        font-family: Despairs;
        font-size: calc(9px + 2vmin);
        color: $frame-color;
        transition: ease-in 0.5s;
    }
    
    li {
        display: inline-block;
        margin: 0 2%;
    }
    
    a {
        font-family: Despairs;
        font-size: calc(9px + 2vmin);
        font-weight: bold;
        color: $primary-color;
        text-decoration: none;
    }
}

#Navbar-small {
    // Parent selector: Here exclusive scss for current component
    
    padding: 0.5% 0;
    position: fixed;
    width: 100%;
    background-color: $frame-color;
    transition: ease-in 0.5s;
    
    #logo-text {
        font-family: Despairs;
        font-size: calc(6px + 2vmin);
        color: $secondary-color;
        transition: ease-in 0.5s;
    }
    
    li {
        display: inline-block;
        margin: 0 2%;
    }
    
    a {
        font-family: Despairs;
        font-size: calc(6px + 2vmin);
        color: $primary-color;
        text-decoration: none;
    }
}

