.App-navbar {
    padding: 3% 0;
    position: fixed;
    width: 100%;
    font-size: calc(9px + 2vmin);
    // font-weight: bold;
}

#logo-text {
    font-family: Despairs;
    font-size: 2rem;
    color: rgb(67, 67, 67);
}

li {
    display: inline-block;
    margin: 0 2%;
}

a {
    color: #00b690;
    text-decoration: none;
}
