@import "../../scss/colors";

#Footer {
    // Parent selector: Here exclusive scss for current component

    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: $frame-color;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: calc(10px + 2vmin);
        color: white;
    }
}
